/CreateNewREADME.py
/PyCharmStarter.py
/test/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/CreateBasicFolder.sh
/library/archive/
/output/
/supplement_data/
/tmp/
/ListFile.py
/input/
/data/
/library/
/recycle.py
/start_jupyter.bat
/TAG_IMAGE_EXCEL_COLOR_REMAPPING.py
/TAG_TO_BACKUP.py
/model/
/GitAddBasicFile.sh
/start_conda_gucci_yolo.bat
/start_jupyter_gucci_yolo.bat
/start_run_gucci_yolo.bat
/TAG_IMAGE_RESIZE.py
/presentation_sudoku_images.pptx
/ProgressMemo.py
/TAG_XX.py
**/VSCodeStarter*.py
/__pycache__
/CursorStarter*.py
/repos